.cat-entry {
}

.cat-entry-image {
  background-color: $light-gray;
  height: 100vh;
}

.cat-entry-header {
  background-color: white;
  bottom: 0;
  height: 85px;
  padding: 1em;
  position: absolute;
  width: 100%;
}
