// scss-lint:disable SingleLinePerSelector

html { min-height: 100vh; }

.body-copy {
  p {
    margin-bottom: 0;
    + p { text-indent: $base-spacing; }
    + h3 { margin-top: $base-spacing; }
  }

  p, ol, ul { font-size: 1.25rem; }
  ol { @extend %default-ol; }

  @include media($medium-screen-up) {
    p, ol, ul { font-size: 1.35rem; }
  }

  @include media($large-screen-up) {
    p, ol, ul { font-size: 1.45rem; }
  }
}

.container {
  @include outer-container;
  padding: 0 $small-spacing;

  @include media($large-screen-up) {
    padding: 0;
  }
}

.footnotes {
  border-top: $base-border;
  margin-top: $base-spacing;
  padding-top: $small-spacing;
  text-align: center;

  &::before {
    content: "Notes";
    font-family: "Freight Text Pro SC";
    font-size: 1.35em;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  ol { margin-top: $small-spacing; }

  p, ol, ul {
    font-size: 1rem;
    text-align: left;
  }
}
// scss-lint:enable SingleLinePerSelector

.hide-on-mobile {
  @include media($small-screen) {
    display: none;
  }
}

.entry-author {
  display: block;
  text-align: right;
  text-indent: 0;

  &::before {
    content: "–";
  }
}

.smcaps {
  @include font-feature-settings("c2sc", "smcp", "kern");
  font-variant: all-small-caps;
}

.map-fullscreen {
  height: 100%;

  .leaflet-control-container {
    display: none;

    @include media($medium-screen-up) {
      bottom: 4rem;
      position: absolute;
      top: 60px;
      width: 100%;
    }

    @include media($large-screen-up) {
      bottom: 5.45rem;
    }
  }
}

.force-wrap {
  @include prefixer(hyphens, auto, webkit moz ms spec);
  overflow-wrap: break-word;
  // word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

.map-intro {
  .cat-entry-content {
    padding-top: $base-spacing;
  }
}

.expander {
  @include transition($base-transition);
  .expander-trigger { display: block; }
  .expander-content { margin-bottom: $base-spacing; }
  .expander--hidden { display: none;}
}

.inline-figure {
  cursor: pointer;
}
