// scss-lint:disable SingleLinePerSelector

.body-copy {
  p {
    margin-bottom: 0;
    + p { text-indent: $base-spacing; }
    + h3 { margin-top: $base-spacing; }
  }

  p, ol, ul { font-size: 1.25rem; }
  ol { @extend %default-ol; }

  @include media($medium-screen-up) {
    p, ol, ul { font-size: 1.35rem; }
  }

  @include media($large-screen-up) {
    p, ol, ul { font-size: 1.45rem; }
  }
}

.container {
  @include outer-container;
  padding: 0 $small-spacing;

  @include media($large-screen-up) {
    padding: 0;
  }
}

.footnotes {
  border-top: $base-border;
  margin-top: $base-spacing;
  padding-top: $small-spacing;
  text-align: center;

  &::before {
    content: "Notes";
    font-family: "Freight Text Pro SC";
    font-size: 1.35em;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  ol { margin-top: $small-spacing; }

  p, ol, ul {
    font-size: 1rem;
    text-align: left;
  }
}
// scss-lint:enable SingleLinePerSelector

.hide-on-mobile {
  @include media($small-screen) {
    display: none;
  }
}

.smcaps {
  @include font-feature-settings("c2sc", "smcp", "kern");
  font-variant: all-small-caps;
}
