$sliding-panel-position: "left";        // "left" or "right"
$sliding-panel-bg-color: $medium-gray;
$sliding-panel-width: 20rem;
$sliding-panel-z-index: 99999;
$sliding-panel-border-color: $dark-gray;
$sliding-panel-background: lighten($sliding-panel-border-color, 5%);
$sliding-panel-color: darken(#FFF, 25%);
$sliding-panel-border: 1px solid $sliding-panel-border-color;
$sliding-panel-color-hover: #fff;
$sliding-panel-background-focus: lighten($sliding-panel-background, 5%);
$sliding-panel-fade-screen-bg: #000;

.nav-sidebar {
  // Right oriented by default
  @if $sliding-panel-position == "left" {
    @include position(fixed, 0 auto 0 0);
    @include transform(translateX(-$sliding-panel-width));
  } @else {
    @include position(fixed, 0 0 0 auto);
    @include transform(translateX($sliding-panel-width));
  }

  @include size($sliding-panel-width 100%);
  @include transition(all 0.1s ease-in-out);

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  background-color: $sliding-panel-background;
  color: $sliding-panel-color;
  font-family: $heading-font-family;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 1rem;
  z-index: $sliding-panel-z-index;

  &.is-visible {
    @include transform(translateX(0));
  }

  // link styles
  a {
    color: $sliding-panel-color;

    &:hover,
    &:active {
      color: $sliding-panel-color-hover;
    }
  }
}

.nav-sidebar-title {
  font-size: 1.25rem;

  @include media($medium-screen-up) {
    font-size: 1.5rem;
  }
}

.nav-sidebar-author {
  color: darken($sliding-panel-color, 20%);
  font-size: 1.125rem;

  @include media($medium-screen-up) {
    font-size: 1.25rem;
  }
}

.nav-sidebar-toc {
  li {
    margin-bottom: 0.5rem;
  }
}

.nav-sidebar-downloads,
.nav-sidebar-cite {
  h4 {
    font-size: 1.25rem;
  }
}

.nav-logo {
  margin: 1rem auto;
  width: 4.5rem;
}

.sliding-panel-fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: $sliding-panel-fade-screen-bg;
  opacity: 0;
  visibility: hidden;
  z-index: ($sliding-panel-z-index - 1);

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}
