.popup {
  @include transition($base-transition);
  border-bottom: 1.5px solid tint($action-color, 80%);
  cursor: pointer;
  position: relative;
  text-indent: 0;

  &:hover {
    border-bottom: 2.5px solid tint($action-color, 20%);
  }
}

.popup-content {
  @include transition($base-transition);
  background-color: tint($light-gray, 75%);
  border: 1px solid $light-gray;
  border-bottom: 2.5px solid tint($action-color, 20%);
  display: inline-block;
  float: left;
  font-family: $heading-font-family;
  font-size: 0.85rem;
  left: 0;
  margin-bottom: -30px;
  max-height: 0;
  opacity: 0;
  padding: $small-spacing;
  pointer-events: none;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;

  &.visible {
    margin-bottom: $small-spacing;
    margin-top: $small-spacing;
    opacity: 1;
    pointer-events: auto;
  }
}

.popup-definition {
  .popup-content {
    &.visible {
      max-height: 6em;
    }
  }
}

.popup-location {
  .popup-content {
    &.visible {
      height: 300px;
      max-height: 300px;
    }
  }
}

.popup-pic {
  .popup-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    &.visible {
      height: 300px;
      max-height: 300px;
    }
  }
}
