---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <% cat = sitemap.find_resource_by_path("catalogue/9-19.html") %>
    <div class="entry">
      <div class="plate">
        <img src="<%= image_path("cat9-19a.jpg") %>" />
      </div>
      <div class="plate">
        <img src="<%= image_path("cat9-19b.jpg") %>" />
      </div>
      <div class="entry-header">
        <h1 class="object-title">9–19. Mosaic Panels with Animals</h1>
      </div>
      <article class="entry-content">
        <div class="object-details">
        </div>
        <%= cat.render(:layout => false ) %>
      </article>
    </div>
  </body>
</html>
