---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/stylesheets/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <% cat = sitemap.find_resource_by_path("catalogue/9-19.html") %>
    <div class="entry">
      <div class="plate">
        <img src="<%= image_path("cat9-19a.jpg") %>" />
      </div>
      <div class="plate">
        <img src="<%= image_path("cat9-19b.jpg") %>" />
      </div>
      <div class="entry-header">
        <h1 class="object-title">9–19. Mosaic Panels with Animals</h1>
      </div>
      <article class="entry-content">
        <div class="object-details">
          <ul class='cat-details'>
            <li>
              <strong>9. Mosaic Panel with Peacock Facing Left</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 196.9 cm × 115.5 cm</li>
            <li>
              75.AH.121
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7290' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 196.9'>
                <rect class='scale-mosaic' height='196.9' width='115.5' x='0' y='0.0'></rect>
                <svg class='scale-person' height='170' width='48' x='135.5' y='26.900000000000006'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>10. Mosaic Panel with Peacock Facing Right</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 210.2 cm × 129.5 cm</li>
            <li>
              75.AH.122
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7291' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 210.2'>
                <rect class='scale-mosaic' height='210.2' width='129.5' x='0' y='0.0'></rect>
                <svg class='scale-person' height='170' width='48' x='149.5' y='40.19999999999999'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>11. Mosaic Panel with Donkey and Bird</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 91.4 cm × 106.7 cm</li>
            <li>
              75.AH.119
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7288' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='91.4' width='106.7' x='0' y='78.6'></rect>
                <svg class='scale-person' height='170' width='48' x='126.7' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>12. Mosaic Panel with Eagle</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 81.3 cm × 57.2 cm</li>
            <li>
              75.AH.125
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7294' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='81.3' width='57.2' x='0' y='88.7'></rect>
                <svg class='scale-person' height='170' width='48' x='77.2' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>13. Mosaic Panel with Three Birds and a Tree</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 125.1 cm × 97.8 cm</li>
            <li>
              75.AH.123
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7292' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='125.1' width='97.8' x='0' y='44.900000000000006'></rect>
                <svg class='scale-person' height='170' width='48' x='117.8' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>14. Mosaic Panel of Bull and Flowers</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 75 cm × 109.2 cm</li>
            <li>
              75.AH.124
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7293' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='75' width='109.2' x='0' y='95'></rect>
                <svg class='scale-person' height='170' width='48' x='129.2' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>15. Mosaic Panel with Stag</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 119.4 cm × 89 cm</li>
            <li>
              75.AH.120
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7289' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='119.4' width='89' x='0' y='50.599999999999994'></rect>
                <svg class='scale-person' height='170' width='48' x='109' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>16. Mosaic Panel with Horse</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 147.3 cm × 146 cm</li>
            <li>
              75.AH.116
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7285' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='147.3' width='146' x='0' y='22.69999999999999'></rect>
                <svg class='scale-person' height='170' width='48' x='166' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>17. Mosaic Panel with Bull</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 124.5 cm × 179.1 cm</li>
            <li>
              75.AH.117
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7286' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='124.5' width='179.1' x='0' y='45.5'></rect>
                <svg class='scale-person' height='170' width='48' x='199.1' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>18. Mosaic Panel with Rabbit</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 68.6 cm × 114.3 cm</li>
            <li>
              75.AH.118
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7287' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of William Wahler</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='68.6' width='114.3' x='0' y='101.4'></rect>
                <svg class='scale-person' height='170' width='48' x='134.3' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>
          <ul class='cat-details'>
            <li>
              <strong>19. Mosaic Panel with a Lion Chasing a Bull</strong>
            </li>
            <li>Roman, from Syria, possibly Emesa (present-day Homs), AD 400–600</li>
            <li>Stone tesserae, 81.3 cm × 149.9 cm</li>
            <li>
              75.AH.115
              <a class='collection-link' href='http://www.getty.edu/art/collection/objects/7284' target='blank' title="View this item on the Getty's Collection Pages.">
                <i class='ion-link'></i>
              </a>
            </li>
            <li>Gift of Joel Malter</li>
            <li>
              <svg class='cat-entry-scale' viewBox='0 0 940 170'>
                <rect class='scale-mosaic' height='81.3' width='149.9' x='0' y='88.7'></rect>
                <svg class='scale-person' height='170' width='48' x='169.9' y='0'>
                  <path d='M13.6,169.7c-2.7,0-2.8-3-2.5-4.9c0.3-2,2.4-3.6,3.1-5.6c0.2-0.7,1.5-3.1,1-3.7 c-0.8-1-1.4,0.1-1.4-1.5c0-2.1,0.2-4.5,0-6.4c-0.3-2.2-0.2-4.3-0.5-6.5c-0.3-2.4-0.7-4.5-0.5-7c0.2-2.4,0.6-5.8-0.2-8 c-0.6-1.2,0.7-1.9,0.2-3.2c-0.2-0.5-0.1-2.2,0.1-2.6c0.6-0.6-0.5-3.9-0.7-4.8c-0.4-1.8-1-4-1-5.9c0-2.1-0.9-4.8-1.8-6.7 c-1.1-1.1-1.2-5.5-1.4-6.9c-0.6-5-1.7-10.1-1.7-15.2c0-1,0.1-2.1,0.6-3C6.9,77.6,7.3,76,7,75.7c-0.5-0.9,0.5-2.6,0.7-3.5 c0.1-0.8,0.2-1.6,0.3-2.3c0.1-1.1,0.1-2.4,0.3-3.5c0.2-0.7,2.7-3.8,2.2-4.3c-0.2-0.2-3.5,2.4-3.7,2.6c-1.1,1.1-2.3,0.5-3.2-0.4 C2.4,63,2.6,62,2,60.5c-0.4-1-2.8-5.3-2.3-5.9c0.7-0.7,1.5-0.9,1.8-1.6c0-0.8,0.2-2.1,0.4-2.9c0.2-0.8,0.5-1.7,0.6-2.5 c0.1-0.4-0.7-1.6-0.7-2.3c0-2.1,0.7-4.1,1.1-6.2c0.6-3,1.4-5.3,4-7.1c1.1-0.7,2.8-1.2,3.7-2.1c1-1,2.7-1.1,3.7-2.1 c1.2-1,1.9-0.9,2.7-2.6c0.4-0.8,1.1-1.7,1.1-2.6c0-0.8,0.2-2.8-0.4-3.4c-0.5-0.5-1.4-1.5-1.6-2.1c-1.2-3-2.4-6.3-2.2-9.7 c0.3-3.3,3.1-6.9,6.5-7.5C22.5-0.5,23.9,1,25.8,1c1.7,0,2.7,2.7,3.6,3.6c2.3,2.3,2.4,9.1,0.1,11.4c-1.2,1.2-0.9,4.3-0.6,5.8 c0.2,1,0.9,1.2,1.4,2.1c0.4,0.9,1.4,2.3,2.6,2.3c1.8,0,4.2,2.2,6,2.8c2.3,0.8,5,2.1,5.9,4.5c0.6,1.4,0.3,2.7,0.6,4.1 c0.2,1,0.4,2.1,0.6,3.1c0.4,2.6,0.4,5.2,0.4,7.7c0,1.2,0,2.4,0,3.7c0,1.2-0.1,0.8,0.9,1c0.6,0.1,0.2,5.1-0.1,5.9 c-0.8,0.8-0.8,4.5-0.7,5.4c0.1,3.2-0.1,6.2-0.8,9.3c-0.9,3.9-1.6,8-0.9,12c0.4,2.1,0.6,4.1,0.1,6.2c-0.4,1.7-1.4,2.2-2.8,3.2 c-2.1,1.4-2.6,1.5-2.6,4.3c-0.6,2.8-1.1,5.4-2.2,8.1c-0.8,2-1.1,4.8-1.1,6.9c0,0.8-0.7,6.5-0.1,6.7c0.6,0.4-0.2,0.8,0,1.3 c0.5,0.5,1.1,0.8,1.2,1.7c0.1,2,0.1,4,0.3,5.9c0.5,5.1,0.1,10.1,0.2,15.2c0,1.9-0.1,3.7-0.1,5.6c0.4,0.8,0.3,2.5,0.2,3.4 c-0.1,0.7-1.2,0.3-0.9,1.2c0.5,1.7,1.6,4,3,5.1c1.6,1.3,3.3,2.4,4,4.5c1.4,4.3-2.4,3.1-4.7,3.1c-1.5,0-3.3-0.9-4.5-1.7 c-0.8-0.8-1-1.9-2.3-2.2c-1.1-0.3-2.5-0.3-3.3-1.2c-2.5-3.4-1.1-7.8-1.7-11.7c-0.2-1.5-0.1-2.8-0.1-4.2c0-1.2,0.6-2.2,0.5-3.3 c-0.5-3.4-0.7-6.9-1.4-10.3c-0.4-2-0.2-4.1-0.2-6.1c0-0.5,0.6-2,0.2-2.4c-0.3-0.7-0.4-2.9-0.3-3.7c0.1-0.6-0.4-2.5,0-2.9 c0-2.8-0.6-5.7-0.6-8.6c0-1.5-0.9-16-1.4-16c-0.5,0.7-0.6,1.7-0.7,2.5c-0.1,0.8-0.7,3.5-0.3,4.3c0.1,0.1-0.1,3-0.1,3.4 c0,0.6,0.5,4.1,0.1,4.5c-0.1,0.3,0.2,1.6,0.2,2c0,0.8,0,1.7,0,2.5c0,1.4-0.3,3-0.6,4.3c-0.2,0.9-0.5,8.3-0.2,8.3 c1,1,0.4,4.8,0.6,6.2c0.4,2.5,0.3,5.1,0.3,7.6c0.1,4.1,0.4,8.2,0.4,12.3c0,0.8,0.5,2.1-0.4,2.6c-0.9,0.3-0.5,1.4-0.5,2.1 c0,1.7,0.1,5.4-1.7,6.3c-2,1.1-0.6,3.9-2.4,5.2C17.3,169.2,15.2,169.8,13.6,169.7z M23.9,93.6c0-0.2,0-0.2-0.2-0.2 C23.6,93.5,23.7,93.8,23.9,93.6z M39.8,91.5c0.1-0.2,0.4-1.5-0.1-1.5C39.3,90,39.8,92.1,39.8,91.5z M39.8,81.5 c0-0.8,0.6-1.8,0.7-2.6c0.3-0.7,0-2.2,0-2.9c-0.1-2-0.3-4.2-0.9-6.1c-0.3-2.1-0.2-4.2-0.2-6.4c0-0.6-0.6-1.9-1-2.4 c-0.3-0.6,0.4-1.1,0.1-1.8c0-0.1-0.4-1.9-0.9-1c0,0.8,0,1.6,0.2,2.4c0.4,2.2,0.6,5,0.6,7.2c0,2.7,0.6,5.4,0.5,8.1 c0,1.3-0.4,4.9,0.5,5.8C39.5,81.7,39.7,81.6,39.8,81.5z'></path>
                </svg>
              </svg>
            </li>
          </ul>          
        </div>
        <%= cat.render(:layout => false ) %>
      </article>
    </div>
  </body>
</html>
