---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/stylesheets/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="sidebar" id="villelaure">
      <% sidebar = sitemap.find_resource_by_path("catalogue/excavations-villelaure.html") %>
      <h1 class="page-title">
        <%= sidebar.data.title %>
      </h1>
      <h3 class="page-subtitle">
        <%= sidebar.data.subtitle %>
      </h3>
      <article>
        <%= sidebar.render(:layout => false ) %>
      </article>
    </section>
  </body>
</html>
