---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/stylesheets/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="region" id="italy">
      <% region = sitemap.find_resource_by_path("catalogue/syria.html") %>
      <div class="map">
        <img src="<%= image_path("syria.jpg") %>" />
      </div>
      <h1 class="page-title">
        <%= region.data.title %>
      </h1>
      <article>
        <%= region.render(:layout => false ) %>
      </article>
    </section>
  </body>
</html>
