---
title: Catalogue
layout: page
cover: false
sort_order: 5
pdf_output: false
---
- if environment? :pdf
  .print-catalogue-intro
- else
  %ul.catalogue-regions
    %li.catalogue-region-italy= link_to "Italy, Cats. 1–2", "/catalogue/italy.html"
    %li.catalogue-region-gaul= link_to "Gaul, Cats. 3–4", "/catalogue/gaul.html"
    %li.catalogue-region-northafrica= link_to "North Africa, Cat. 5", "/catalogue/northafrica.html"
    %li.catalogue-region-syria= link_to "Syria, Cats. 6–21", "/catalogue/syria.html"
