---
title: Catalogue
layout: page
cover: false
sort_order: 5
pdf_output: false
---
- if environment? :pdf
  .print-catalogue-intro
- else
  %ul.catalogue-regions
    = link_to "/catalogue/italy.html" do
      %li.catalogue-region-italy
        %span Italy, cats. 1–2
    = link_to "/catalogue/gaul.html" do
      %li.catalogue-region-gaul
        %span Gaul, cats. 3–4
    = link_to "/catalogue/northafrica.html" do
      %li.catalogue-region-northafrica
        %span North Africa, cat. 5
    = link_to "/catalogue/syria.html" do
      %li.catalogue-region-syria
        %span Syria, cats. 6–21
