---
cat: 1
sort_order: 12
layout: single
---
### Provenance

This mosaic originally decorated the floor of a Roman villa in one of two adjacent rooms, both with similar mosaics, discovered on the Via Emanuele Filiberto in Rome. The site was excavated by Angelo Pasqui in 1910, but it is uncertain whether the mosaic was removed at that time.[^1] It was purchased by the J. Paul Getty Museum in 1971.[^2]

### Commentary

A colorful female bust is the only polychrome feature in this otherwise black-and-white mosaic (plate 1). Snakes around her neck and serpentine locks of hair identify her as the Gorgon Medusa. The image decorates the central medallion of the mosaic, with the face turned upward and to the right. An elaborate geometric pattern encircles the bust: concentric bands of alternating black-and-white triangles decrease in size as they spiral toward the center, creating the optical illusion of spinning motion. The design has also been interpreted as a shield of scales, a reference to the aegis worn by Athena, a scaly mantle decorated with the head of Medusa. A <span class="popup popup-definition" id="def_guilloche">*guilloche*</span> border around the circle is enclosed within a second, square guilloche that outlines the entire composition. <span class="popup popup-definition" id="def_kantharoi">*Kantharoi*</span> fill the triangular spaces at each of the four corners.

In Greek mythology, the Gorgon Medusa was a fearsome monster who turned viewers to stone with her gaze. When she was finally killed, beheaded by the hero Perseus, her hideous head was presented to his patron goddess, Athena. The Gorgon head was a popular apotropaic device in Greek art, as its terrifying appearance was believed to ward off evil. In Roman art, however, Medusa was humanized and more clearly female; at times she was even depicted in the form of a beautiful woman. During the Roman period, the image of the Gorgon often served a primarily decorative function in interior decoration, appearing, for example, on domestic utensils and wall paintings, but it continued to be regarded as a protective symbol. Representations of Medusa were often accompanied by imagery related to the god of wine, Dionysos, whose worship was thought to invoke pleasure and good fortune. The kantharoi found in the corners of the Getty mosaic are closely associated with the revelries of Dionysos. A Roman mosaic from <span class="popup popup-location" id="loc_23373">Kisamos</span>, on Crete, similarly depicts the central bust of Medusa surrounded by panels of masks and followers of Dionysos.[^3] An explicit connection appears in a late second-century AD mosaic pavement from a <span class="popup popup-pic" id="pic_01">Roman villa</span> at <span class="popup popup-location" id="loc_17070">Corinth</span>. The mosaic’s design features the head of Dionysos at the center of the same pattern found on the Getty mosaic, and it is also enclosed by a guilloche with kantharoi in the corners.[^4]

<figure markdown="0" class="inline-figure" id="fig01">
  <img src='<%= image_path("figures/fig01.jpg") %>' alt="Figure 1: Mosaic with Head of Medusa" />
  <figcaption>Figure 1: Mosaic with Head of Medusa, Roman, AD 115–150. Found in Rome, Italy, 1910. Stone tesserae, 530 x 450 cm (206 11/16 x 175 3/16 in.). Museo Nazionale Romano—Museo delle Terme, 56253</figcaption>
</figure>

The Getty’s Medusa mosaic originally decorated a small room measuring 3.6 x 2.9 meters. A pendant mosaic (fig. 1) survives from an adjacent, larger room (5.3 x 4.5 meters) of this villa in Rome; it was most likely made by the same workshop and is now in the collection of the Museo Nazionale Romano—Terme di Diocleziano.[^5] This second mosaic depicts the bust of Medusa in mirror image, her gaze turned upward to the left. Her head is also placed at the center of a black-and-white shield or spinning wheel design. Birds perch on branches in the four corners instead of kantharoi, and a pattern of stylized tendrils and ornate scrolls frames the guilloche border. The excavation of this villa revealed that the two rooms originally formed one large rectangular chamber decorated with a black-and-white mosaic of a marine scene before it was subdivided and redecorated with the pair of Medusa mosaics.[^6] Although the reason for the renovation or reconstruction of the villa is unknown, the construction of the building in <span class="popup popup-definition" id="def_opus-mixtum">*opus mixtum*</span>, a technique used especially during the rule of the Emperor Hadrian from AD 117 to 138, indicates that the transformation likely took place sometime in the early second century AD.[^7] The style of the mosaics is typical of private villas in Italy during this period, which were decorated predominately with black-and-white mosaics made up of complicated, often curvilinear, geometric patterns and highly stylized floral designs.

### Comparanda

The circular geometric design with the Gorgon head at its center was used frequently on mosaic pavements throughout the Roman Empire. Many were colorful, polychrome compositions. In second-century AD <span class="popup popup-pic" id="pic_02">mosaics</span> from <span class="popup popup-location" id="loc_22389">Piraeus</span> in Greece and <span class="popup popup-location" id="loc_21158">Pergamon</span> in Asia Minor (present-day Turkey), the triangles of the scale pattern are rendered in shades of red, blue, green, and yellow, with a guilloche border in yellow and blue.[^8] The <span class="popup popup-pic" id="pic_03">example from Pergamon</span>, like the Getty mosaic, also displays kantharoi in its four corners. In a variation on the spinning aspect of the design, the curvilinear triangles encircling the head of Medusa in a late second-century AD mosaic floor from the <span class="popup popup-pic" id="pic_04">House of the Red Pavement</span> at Antioch form concentric petal shapes.[^9] Scale patterns could also be composed of shapes other than triangles. A mosaic from the <span class="popup popup-definition" id="def_triclinium">*triclinium*</span> of a Roman villa at <span class="popup popup-location" id="loc_216878">Marcianopolis</span> in Thrace (present-day Devnya, in Bulgaria), known as the <span class="popup popup-pic" id="pic_05">House of Antiope</span>, displays Medusa within a circular pattern of spade-shaped scales surrounded by a meander pattern, with felines in each of the corners.[^10] Comparable examples from North Africa include a Roman villa at <span class="popup popup-location" id="loc_21592">Thysdrus</span> (present-day El Djem) and a <span class="popup popup-pic" id="pic_06">bath complex</span> at <span class="popup popup-location" id="loc_0002">Dar Zmela</span>, both characterized by a similar pattern of spade-shaped scales and flower motifs in the corners, as well as the Great Baths at <span class="popup popup-location" id="loc_21865">Thaenae</span> (present-day Thina), decorated with radiating waves of alternating colors.[^11] An unusual version of this design in <span class="popup popup-definition" id="def_opus-sectile">*opus sectile*</span> was discovered at <span class="popup popup-location" id="loc_27746">Kibyra</span> in southern Turkey, where it covered the <span class="popup popup-pic" id="pic_07">floor of the orchestra</span> of an <span class="popup popup-definition" id="def_odeion">*odeion*</span> or <span class="popup popup-definition" id="def_bouleuterion">*bouleuterion*</span> that was destroyed in the fifth or sixth century AD.[^12] Although other examples of the shield or spinning wheel motif appear in *opus sectile*, all feature a geometric pattern in place of the head of Medusa. One of these, executed in polychrome marble, was found in the Villa dei Papiri at Herculaneum, the famous Roman villa that inspired the design and decoration of the Getty Villa in Malibu.[^13]

### Condition

The central medallion is largely intact, but the edges, including the two vessels in the lower half of the mosaic and much of the border, appear to be modern reconstructions. Reportedly, the mosaic was already badly damaged when it was discovered.

### Bibliography

Pasqui 1911, 338–39; Blake 1936, 83; Vermeule and Neuerburg 1973, 51–52, no. 111; Hessenbruch McKeon 1983, 239–41, cat. no. 23; Aisenberg 1994, plate 10; J. Paul Getty Museum 2010, 220.

A.B.

[^1]: For the excavations of the villa, see Pasqui 1911, 338–39. It seems that the mosaic may have been reburied and lifted later. Period photographs in the Getty curatorial files, including one labeled “Casa dei Neroni,” show the mosaic as the floor of a modern house, but the location and previous owner have not yet been identified.

[^2]: Purchased from the Royal Athena Galleries, New York.

[^3]: Markoulaki 1987, plate 324 (detail only), early third century AD. Another Medusa mosaic from the Villa of Dionysos at Knossos on Crete depicts heads representing the four seasons in the corners; see Paton 2000, 553–62.

[^4]: Shear 1930, plate 10 (now in the Archaeological Museum of Ancient Corinth, inv. no. A609 / MOS 25–3).

[^5]: Museo Nazionale Romano, Rome, inv. no. 56253; Paribeni 1913, plate 1; and Aurigemma 1974, plate 104. In Hessenbruch McKeon 1983, 238–39, cat. no. 22, the author writes that at the time of publication the tondo was in the Ministero Archeologico di Roma. It is currently in the Museo Nazionale Romano—Museo delle Terme di Diocleziano. No architectural plan or description of the layout of the building was published at the time the mosaic was excavated.

[^6]: See Pasqui 1911, 338, with figures of sea monsters and dolphins led by winged putti and Tritons.

[^7]: See Pasqui 1911, 338, which identifies the remains of a building made in *opus mixtum*, a Roman construction technique consisting of a combination of different types of brickwork.

[^8]: Piraeus (now in the National Archaeological Museum of Athens): Philadelpheus 1894, plate 4. Pergamon (now in the Bergama Archaeological Museum, Izmir): Scheibelreiter-Gail 2011, 338–39, no. 107, and 649, fig. 484. Additional information can be found in Hessenbruch McKeon 1983, 264–67, nos. 43 and 45.

[^9]: Levi 1947, plate 14a (now in the Princeton University Art Museum, inv. no. y1965-212).

[^10]: Minchev 2002, 253, figs. 4, 5. The mosaic remains in situ in the Museum of Mosaics, Devnya (Bulgaria), which was constructed on top of a late third to early fourth-century AD Roman villa, the so-called the House of Antiope.

[^11]: El Djem: Merlin 1915, no. 71f, no. 2; Foucher 1963, 97, fig. 13b; Dunbabin 1978, 163 and 258 (catalogue). Dar Zmela: Foucher 1960b, 121–22, no. 57.247; Foucher 1963, 97, fig. 13a; and Dunbabin 1978, 163 and 271 (catalogue). The design is meant to represent a shield, but it is not contained within a circular frame. Thina: Gauckler, 1915, no. 18, A, 14; and Dunbabin 1978, 163 and 273 (catalogue). Additional bibliography can be found in Hessenbruch McKeon 1983, 301–2, nos. 64, 71, 72. Dunbabin 1978 dates the mosaics from El Djem and Thina to the late third century AD and the mosaic from Dar Zmela to the second half of the second to early third century AD, identifying Medusa as an *apotropaion*.

[^12]: Özüdoğru and Dökü 2010, 39–42, figs. 5, 6; and Özüdoğru and Dökü 2012, 51.

[^13]: Spinazzola 1928, plate 195, now in the Museo Archeologico Nazionale, Naples.
