---
cat: 21
author:
 - first_name: Sean
   last_name: Leatherbury
layout: single
sort_order: 27
force_break: true
---
### Provenance

The findspot of this mosaic is unknown but is most likely Syria or possibly Jordan. The mosaic was given to the J. Paul Getty Museum in 1978.[^1]

### Commentary

Two male busts appear in the middle of a vine scroll on this fragment of a mosaic pavement. Originally, this piece was part of a large floor mosaic, probably from a church, displaying the so-called inhabited scroll motif, a vine scroll that winds its way around the main field of the pavement.[^2] Only a portion of the scroll is visible on this panel, but its presence suggests that the two men, one beardless and the other bearded, were participants in a series of scenes placed within circular medallions defined by the scroll. The men may have been depicted engaging in one of several typical rural activities, perhaps hunting, playing music, or harvesting grapes. A mosaic in the nave of the sixth-century AD <span class="popup popup-pic" data-pic=' <%= pic("pic_48") %>'>Church of Saints Lot and Procopius</span> at <span class="popup popup-location" data-location='<%= location("loc_0007") %>'>Khirbet Mukhayyat</span> (Nebo) in Jordan shows villagers hunting lions and bears and participating in the grape harvest.[^3] Such scenes of rural life, common in churches of the region in the later fifth and sixth centuries AD, would have evoked for contemporary audiences the activities and rhythms of their daily lives. The vine scroll may have also conveyed a religious meaning, alluding to Christ as the “true vine” (John 15:1).[^4]

### Comparanda

The quality of the mosaic is typical of rural workshops of the region, and the two faces are executed with much smaller tesserae than are found in the rest of the panel, a technique especially common in pavements from Jordan.[^5] The panel is similar in style to that of many mosaics from the region, most notably in the narrow faces, heart-shaped lips, rosy cheeks, and schematized curly hair, characteristics that are shared with a Syrian mosaic depicting <span class="popup popup-pic" data-pic=' <%= pic("pic_49") %>'>Adam and Eve</span> that is now in the Cleveland Museum of Art.[^6] Figures in other mosaics of the region, such as an image of a hunter in the church at <span class="popup popup-location" data-location='<%= location("loc_0008") %>'>Kissufim</span> in Israel, have similar facial features.[^7]

### Condition

The mosaic is set in concrete and shows evidence of modern restoration, including areas painted to fill losses, such as the hair of the figure on the left.

### Bibliography

Unpublished.

<span class="entry-author">S.L.</span>

[^1]: From 1975 to 1977, the mosaic was on loan to the Getty from Bruce McNall. It was purchased in 1977 by Dr. Martin M. Orenstein, who donated it to the J. Paul Getty Museum in 1978.

[^2]: The “inhabited,” or “peopled,” scroll was especially popular in the region in the sixth century AD; see Hachlili 2009, 111–47; Talgam 2014, 86–95; Dauphin 1978, 1987.

[^3]: On these scenes of rural life, see Hachlili 2009, 149–78; on the church at Khirbet Mukhayyat, see Piccirillo 1993, 153, fig. 202.

[^4]: See Maguire 1987, 9–10.

[^5]: The use of small tesserae in this manner is seen in many churches in the region, including the church at Khirbet Mukhayyat, in the faces of the male figures; see Piccirillo 1993, 153.

[^6]: Cleveland Museum of Art 1969.115; see Donceel-Voûte 1988, 487–89, 489 fig. 456.

[^7]: See Hachlili 2009, plate 7.13a.
