---
cat: 8
layout: single
sort_order: 24
---
### Provenance

The origin of this mosaic is unknown, but it may have come from <span class="popup location" id="loc_21719">Emesa</span> (present-day Homs), Syria, on the Orontes River about 175 kilometers south of ancient Antioch.[^1] The mosaic was purchased by the J. Paul Getty Museum in 1971.[^2]

### Commentary\
A griffin, a mythological creature with the head of an eagle and the body of a winged lion, stands in profile with its raised left forepaw resting on top of a wheel with seven petal-shaped spokes (plate 8).[^3] The figure, depicted on a white background, is rendered primarily in neutral shades of gray and brown. The mosaic resembles a drawing, with a line of darker tesserae used to outline the griffin and define details, such as feathers at the tips of the wings and the underside of the head, as well as a fringe of fur along the back leonine legs.

The image of a griffin supporting one of its forepaws on a wheel appears in Roman art by the first century AD.[^4] The wheel, a symbol of the cyclical movement of human fortune, and the winged griffin are both distinctive attributes of Nemesis, the goddess of vengeance, who is also often represented with wings.[^5] In a first century AD wall painting from the House of the Fabii at <span class="popup location" id="loc_21719">Pompeii</span>, Apollo and two female figures are accompanied by a winged griffin with a wheel.[^6] This motif also occurs on coins of <span class="popup location" id="loc_15898">Alexandria</span> dating to the reign of the Emperor Domitian (AD 81–96).[^7] Scenes depicting Nemesis with a griffin are especially common during the second and third century AD, and occur in many different media, including coins, gems, statues, and funerary and votive reliefs.[^8] The particular image of a griffin resting its paw on a wheel, typically seated at the foot of Nemesis, is so pervasive that it eventually became a symbol for the goddess herself. For example, a <span class="popup pic" id="pic_29">limestone mold</span> of the second to third century AD from Egypt, possibly from Alexandria, shows a griffin and a wheel with the Greek inscription *Nemesis*.[^9]

Representations of the griffin with a wheel unaccompanied by Nemesis, as in the Getty mosaic, are particularly common in North Africa and the eastern periphery of the Roman Empire. The motif appears in the second and third century AD in Egyptian statuettes in <span class="popup pic" id="pic_30">faience</span> and <span class="popup pic" id="pic_31">bronze</span>; relief stelai from the amphitheater at <span class="popup location" id="loc_15898">Leptis Magna</span> in present-day Libya; tomb paintings in Jordan; a votive marble statue from <span class="popup location" id="loc_0006">Erez</span>, Israel, bearing a dedicatory inscription in Greek (dated AD 210–11); gems from <span class="popup location" id="loc_21149">Caesarea Maritima</span> in Israel and <span class="popup location" id="loc_23007">Gadara</span> in Jordan; and terracotta tesserae from <span class="popup location" id="loc_23007">Palmyra</span>.[^10] While the worship of Nemesis was widespread across the Roman Empire, it was particularly prevalent in Egypt, where she had a pre-Roman cult, and in Syria and the surrounding regions, where she was associated with several important local deities, including the classical goddesses Tyche (personification of fortune) and Nike (personification of victory) and the Arabic deities Allath (goddess of war) and Manawat (goddess of fate).[^11]

### Comparanda

Although it has been proposed that the Getty’s griffin mosaic originally decorated a church floor, based on a supposed connection between this panel and a group of five others said to have come from a Syrian church, there is no archaeological or stylistic evidence that links these mosaics.[^12] While griffins are not uncommon in later Christian mosaics, appearing in a number of Syrian church floors of the fifth and sixth century AD, such as those from the <span class="popup pic" id="pic_33">North Church</span> at <span class="popup location" id="loc_33201">Huarte</span>, the Getty panel is the only known instance in mosaic art in which the griffin appears with the Nemesis wheel.[^13] Nemesis herself had disappeared from Roman art by this time, her function as a deity controlling human destiny and divine retribution made obsolete by the rise of Christianity. Perhaps the closest iconographical parallel to the Getty mosaic is a griffin decorating the floor of the <span class="popup pic" id="pic_34">peristyle of the Great Palace</span> at <span class="popup location" id="loc_5472">Constantinople</span>, which stands alone in the same pose, with a raised forepaw, but without the wheel.[^14]

### Condition

Prior to entering the Getty collection, the tesserae were veneered, set in a concrete frame reinforced with iron laths, and coated with a microcrystalline wax.

### Bibliography

Vermeule and Neuerburg 1973, 55–56, no. 117; de Bellefonds 1992, *LIMC* s.v. “Nemesis (in Peripheria Orientali),” 772, no. 20.

A.B.

[^1]: It has been suggested that the mosaic came from an early Christian church; see Katherine Dunbabin’s 1984 consultant report in the files of the antiquities department of the J. Paul Getty Museum; and Vermeule and Neuerburg 1973, 55–56, no. 117, Vermeule and Neuerburg proposed this origin, because the mosaic was offered to the Getty Museum in 1971 as part of a group of five other animal panels said to have come from a church in Homs (see n. 12, below). They proposed a date of AD 450–462 based on inscribed panels apparently also related to this group, but no further documentation is provided for the inscriptions, and the whereabouts of the panels are currently unknown. However, there is no evidence linking the Getty’s griffin mosaic to this group. Likewise, there is no reason to believe that the griffin panel is related to the group of eleven panels with animals that the Getty acquired in 1975 (plates 9–19), which are also believed to have come from a church in Homs.

[^2]: The mosaic was purchased from Peter Marks, New York.

[^3]: Vermeule and Neuerburg interpreted this wheel as a circle containing a flower with seven petals; see Vermeule and Neuerburg 1973, no. 117.

[^4]: For a possible Hellenistic connection, compare a stele from Apollonia in Thrace (present-day Bulgaria) that depicts a griffin with a raised paw between two enthroned figures; see Franke 1983, 58–59, fig. 113. Hornum, however, questions the early date; see Hornum 1993, 25.

[^5]: Although representations of Nemesis accompanied by a griffin do not appear until the second century AD, the iconography of Nemesis with a wheel is established by the first century BC. For Nemesis and the griffin, see Hornum 1993, 24–32, 318–20, esp. 318, for examples of a griffin with a wheel. On the wheel as an attribute of Nemesis, see Hornum 1993, 25–28, 322–25. For additional discussion on Nemesis and the griffin, see Simon 1962, 770–78; and Flagge 1975, 12–14, 34–43.

[^6]: For an interpretation of the figures as Apollo, Venus, and Vesper, see *LIMC* s.v. “Apollo/Apollon,” 421. For an alternate view of the figures as Apollo, Dionysus, and Venus, see Elia 1962, 119–20. The painting has been dated to the reign of the Emperor Vespaian (AD 69-79).

[^7]: Hornum 1993, plate 1.6; and Flagge 1975, 115.

[^8]: For examples with references, see *LIMC* s.v. “Nemesis”; and Hornum 1993, 318.

[^9]: This mold is now in the British Museum (1910, 0414.4), see Flagge 1975, 114–15, fig. 137; Hornum 1993, 318, plate 5; and *LIMC* s.v. “Nemesis,” 754, no. 213, with additional references.

[^10]: Egyptian faience statuette in the Brooklyn Museum (53.173): Flagge 1975, fig. 140. Bronze statuette in the Museum of Fine Arts, Boston (67.645): Comstock and Vermeule 1971, no. 173. Bronze statuette in Paris: Flagge 1975, fig. 141. Stelai from Leptis Magna: Hornum 1993, appendix 2, no. 159. Tomb paintings in Jordan: *LIMC s*.v. “Nemesis (in Peripheria Orientali),” 772, no. 19; and Barbet and Vibert-Guigue 1988, plates 105b, 122. Statue in Erez (now in the Israel Museum, Jerusalem \[IAA 1957-866\]): *LIMC* s.v. “Nemesis (in Peripheria Orientali),” 772, no. 23; and Leibovitch 1958, 141–48, plate 25. Jasper from Caesarea Maritima in Israel: Hamburger 1968, 32.95, plate 4.95. Carnelian from Gadara in Jordan: Hennig and Whiting 1987, 37.396, fig. 396. Palmyrene tesserae: *LIMC* s.v. “Nemesis (in Peripheria Orientali),” 772, nos. 21–22; and Ingholt, Seyrig, and Starcky 1955, 28 (no. 194), 32 (no. 229), 44 (nos. 314–16) 46 (no. 331), 135, 1008.

[^11]: An inscription dating to 110 BC from Memphis (Hornum 1993, appendix 2, no. 51) and a first-century BC papyrus (Papyrus Berlin 13954) (Hornum 1993, appendix 2, no. 60); both indicate a temple of Nemesis in Alexandria. Hornum also discusses the figure of Nemesis with the griffin holding a wheel in second-century AD statues from Cyrene and Side; see Hornum 1993, 19–24. On cults of the goddess in the East, see the discussion in de Bellefonds 1992; *LIMC* s.v. “Nemesis (in Peripheria Orientali),” 772–73.

[^12]: The mosaics were offered as a group, together with the Getty mosaic, by Peter Marks, New York. However, these panels are markedly different in style from the Getty mosaic. The Mosaic with a Lion is now in the Kimbell Art Museum, Fort Worth (AP 1972.17). The four additional panels are now in the Chazen Museum of Art at the University of Wisconsin-Madison: Mosaic of a Leopard Chasing a Gazelle (1972.17, *Elvehjem Art Center* 1973, fig. 8); Mosaic of a Dog Chasing a Rabbit (1972.18); Mosaic of an Amphora, Doves, and Peacocks (1972.19); and Mosaic of a Cock, Bird, Pheasant, Bull, and Deer in a Vine Scroll (1972.20, *Elvehjem Art Center* 1973, fig. 9).

[^13]: Examples in Syrian church mosaics include scenes of a griffin attacking a bull and Adam naming the animals from the North Church at Huarte (Donceel-Voûte 1988, 105, fig. 71) and a mosaic from Apamea (Donceel-Voûte 1988, 207, figs. 187–88), all dated to the late fifth or the early sixth century AD.

[^14]: See Brett 1947, 79, no. 50, plate 36; and Jobst and Vetters 1992, dated to the first half of the sixth century AD.
